{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}